<%- include('header'); %>
    <h1>Tint an image</h1>
    <form enctype="multipart/form-data" method="post" action="upload">
      <div><label for="input">Original Image:</label> <input type="file" name="input" /></div>
      <div><label for="house">House:</label> <select name="house">
        <option value="s">Slippysnake</option>
        <option value="g">Flyinglions</option>
        <option value="h">Wheezyhippos</option>
        <option value="r">Crowhands</option>
      </select></div>
      <div><input type="submit" value="Upload" /></div>
    </form>
<%- include('footer'); %>
