<%- include('header'); %>
    <h1>Crinus Muto!</h1>
    <div><a target="new" href="<%= filename %>"><img src="<%= filename %>" /></a></div>
    <div><a href="./">Return Home</a></div>
<%- include('footer'); %>
